<h1>Discussions for Project: <%= @project.title %></h1>
<hr>
<% @discussions.each do |discussion| %>
  <div>
    <%= link_to discussion.title, project_discussion_path(@project, discussion) %>
  </div>
<% end %>
<br>
<%= link_to "Back to Project", project_path(@project) %>
<hr>
<%# new discussion form %>
<h2>New Discussion</h2>
<%= render partial: "form", locals: { submit_text: 'Create Discussion' } %>
