<h1>CoreCore Project Management is a sample Rails application</h1>

<!-- linkedin pics -->
<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/08b/127/0524680.jpg"/>

<!-- facebook pics -->
<!-- <img src="https://scontent-sea1-1.xx.fbcdn.net/hphotos-ash2/v/t1.0-9/1044600_10152989391425548_1624844584_n.jpg?oh=dce438d0d5314ca225ba0ccf947432d3&oe=578D4E6A"/> -->
